.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .form {
        margin-top: 5px;
        flex: 1;
        overflow: auto;
        
        .field {
            width: 100%;
        }
    }
    
    .form-actions {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    
        .btn-reset {
            margin-right: 10px;
        }
    }
    
    .radio-button {
        margin-left: 10px;
    }
    
    .mat-radio-button ~ .mat-radio-button {
        margin: 0 0 10px 16px;
    }
}