.general-page {
    display: flex;
    height: calc(100% - 20px);
    padding: 10px;

    .table-card {
        flex: 0 0 70%;
        margin-right: 20px;
    }

    .form-card {
        flex: 0 0 24%;
    }
}